
[Desktop Entry]
Type=Application
Exec=/home/mangesh/remoteWorker/run.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_IN]=remoteWorker
Name=remoteWorker
Comment[en_IN]=
Comment=
